<div class="w-100 mx-5">
  <div class="py-5">
    <h1>New Doctor</h1>
  </div>

  <%= form_for @doctor do |form|%>
   <%= form.label :name%>
   <%= form.text_field :name%>
   <br/>

   <%=form.fields_for :patients do |p|%>
   <%= p.label :name%>
   <%= p.text_field :name%>

   <%= p.label :age%>
   <%= p.number_field :age%>
   <%end %>
   <%= form.submit %>
  <% end %>
</div>